<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>{{ title }}</title>
        {% load static %}
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" href="{% static 'favicon.ico' %}">
        <link rel="stylesheet" href="{% static 'libs/fontawesome/css/fontawesome-all.min.css' %}">
        <link rel="stylesheet" href="{% static 'libs/bulma/bulma.css' %}">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <script src="{% static 'libs/jquery/jquery.js' %}"></script>
        <script src="{% static 'js/app.js' %}"></script>
    </head>
    <body>
        <nav class="navbar is-transparent is-dark">
          <div class="navbar-brand">
            <a class="navbar-item" href="{% url 'home.index' %}">
              <img src="{% static 'img/logo.svg' %}" alt="django tutorial">
            </a>
            <div class="navbar-burger burger" data-target="navbarExampleTransparentExample">
              <span></span>
              <span></span>
              <span></span>
            </div>
          </div>

          <div id="navbarExampleTransparentExample" class="navbar-menu">
            <div class="navbar-start">
              <a class="navbar-item" href="{% url 'home.index' %}">
                主页
              </a>
              <a class="navbar-item" href="{% url 'basic.index' %}">
                环境搭建与项目初始化
              </a>
              <a class="navbar-item" href="https://bulma.io/">
                模型与数据库
              </a>
              <a class="navbar-item" href="https://bulma.io/">
                表单
              </a>
              <a class="navbar-item" href="https://bulma.io/">
                RESTful API
              </a>
              <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link" href="/documentation/overview/start/">
                  Docs
                </a>
                <div class="navbar-dropdown is-boxed">
                  <a class="navbar-item" href="/documentation/overview/start/">
                    Overview
                  </a>
                  <a class="navbar-item" href="https://bulma.io/documentation/modifiers/syntax/">
                    Modifiers
                  </a>
                  <a class="navbar-item" href="https://bulma.io/documentation/columns/basics/">
                    Columns
                  </a>
                  <a class="navbar-item" href="https://bulma.io/documentation/layout/container/">
                    Layout
                  </a>
                  <a class="navbar-item" href="https://bulma.io/documentation/form/general/">
                    Form
                  </a>
                  <hr class="navbar-divider">
                  <a class="navbar-item" href="https://bulma.io/documentation/elements/box/">
                    Elements
                  </a>
                  <a class="navbar-item is-active" href="https://bulma.io/documentation/components/breadcrumb/">
                    Components
                  </a>
                </div>
              </div>
            </div>

            <div class="navbar-end">
              <div class="navbar-item">
                <div class="field is-grouped">
                  <p class="control">
                    <a class="button is-link" target="_blank" href="http://www.thatyou.cn/">
                      <span class="icon">
                        <i class="fa fa-user-circle"></i>
                      </span>
                      <span>
                        About
                      </span>
                    </a>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </nav>
